<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/086823c0ac.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Error</title>
</head>
<body>
    <main>
        <h1 style="color: white;"><i class="fa-solid fa-ban fa-2x1" style="color: red;"></i> Please read below</h1>
        <fieldset>
            <div id="error" style="height: 200px; padding: 60px 0; text-align: center;">
                <p id="original_url" style="color: red;">Error !</p>
                <p id="short_url"><%= message %></p>
            </div>
        </fieldset>
    </main>
</body>
</html>