<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/086823c0ac.js" crossorigin="anonymous"></script>
    <title>URL shortener</title>
</head>
<body>
    <section>
        <h1>DT URL Shortener Service</h1>
        <h2>This is a simple url shortener service. Just enter your url and it will be shortened for you</h2>
    </section>
    <main>
        <form action="/api/shorten" method="post">
            <fieldset>
                <i class="fa-solid fa-link fa-2x1"></i>
                <legend>URL Shortener</legend>
                <input required id="url_input" type="url" name="url" placeholder="https://www.youtube.com" />
                <br/>
                <input type="submit" value="Shorten" />
              </fieldset>
        </form>
    </main>
    <footer>
        <hr/>
        <p>© Created by Dennis Tomno</p>
    </footer>

</body>
</html>